body {
	background:url(../images/login_bg_0.jpg) #f8f6e9;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    color: black;
}
th, td {
    padding: 5px;
}
table{
    width: 80%;
}
p{
  font-size: 16px;
  color: black; 
}
.languageChoose{
  color: red;
  font-size: 20px;
}
.infoHeading{
   color:orange;
   background-color: white;
   font-size: 45px;
}
#BookDetail{
  color:black;
}